.txtclr ul li a{
    color: azure;
}
.heading{
    padding-left: 30px;
}
.menuitems{
    padding-right: 30px;
}
.img{
    display: flex;
    justify-content: center;
    
    
}
.back{
  background-color: #001f40 !important;
}
.pimg{
    width: 250px;
    padding-top: 70px;
    margin-bottom: 20px;

}
h1{
    font-family: 'Times New Roman', Times, serif
}
.description{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 30px;
}
body{
    /* background-color: #d1ffbe; */
    background-color: #d6d7d2; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h4{
    font-family: 'Times New Roman', Times, serif
}
.crsl {
    margin-top: 50px;
    width: 40%;
    border: 5px solid black;
    border-style: double;
    border-radius: 5px;
    margin-left: 200px;

}

  hr {
      border: dotted #66bfbf 6px;
      border-bottom: none;
      width: 10%;
      margin: 50px auto;
    }
    #text-container {
        text-align: center;
        font-size: 24px;
        /* font-family: Arial, sans-serif; */
        color: black;
        display: flex;
        align-items: center;
        font-family: 'Rye', cursive;
        font-weight: bold;
        justify-content: center;
      }
      #cursor {
        margin-left: 5x;
        opacity: 0;
      }
      
      #static-text {
        margin-right: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }
      
      #text-to-type {
        display: inline-block;
        color:purple;
        text-decoration: underline;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }
      footer {
        background-color: #001f40;
        color: #fff;
        padding: 20px 0;
      }
    
      footer p {
        margin: 0;
        text-align: center;
        padding-top: 0px;
      }
    
      footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    
      footer a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
      }

      .main-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 2rem;
        margin: 2rem 2rem 0;
        justify-content: center;
      }

      .card {
        height: 215px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-rows: 1fr 1fr;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
        
      }
      
      .card-title {
        color: white;
        font-size: 24px;
        margin: 20px 0 0 20px;
        z-index: 1;
      }
      
      .para {
        color: white;
        font-weight: 400;
        font-size: 16px;
        align-self: end;
        margin: 0 0 20px 20px;
        letter-spacing: 0.5px;
        z-index: 1;
      }
      
      .card-img {
        position: absolute;
        top: 0;
        height: 110%;
        width: 100%;
        z-index:0;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
        filter: brightness(0.5);
      }
      
      .card:hover {
        transform: scale(1.2);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

      }
      
      .card:hover img {
        transform: translateY(-10px);
        filter: brightness(1);
      }
      .carddd{
        align-items: center;
        justify-content: center;
      }
      .button{
        margin: 25px auto 10px;
        padding: 5px 30px;
      
        color: purple;
        border-color: purple;
        --bs-btn-active-bg: purple;
        --bs-btn-active-border-color:purple;
      }
      .button:hover{
        background-color: #212529;
        border-color: #212529;
      
      }
      .card:hover .para,.card:hover .card-title{
visibility: hidden;
      }
      .view{
      
        display: flex;
        justify-content: center;
      
      }
       
#image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#image-container.show {
  opacity: 1;
  height: auto;
  overflow: visible;
  margin: 2rem 2rem 0;
}
#badge{
height: 10rem;
margin-bottom: 20px;
}
.badgess{
display: flex;
justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.cct{
  text-decoration: none;
  color: black;
}
/* 

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-color: #a9c9ff;
  background-image: linear-gradient(150deg, #a9c9ff 0%, #ffbbec 100%); */
  .projects {
    width: 90%;
    margin: auto;
    height: 100%;
  }

  .projects .project {
    width: 43vw;
    border-radius: 1rem;
    display: flex;
    height: 55vh;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    outline: 2px solid #dd3b4b ;
    outline-offset: 6px;
  }
  .project h1{
    position: absolute;
    right: -40%;
    color: #212529;
    font-size: 5rem;
  }
  .project:nth-child(even) h1{
    left: -40%;
  }
  .project iframe {
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 1rem;

    right: 0;
    bottom: 0;
  }
  .project:nth-child(2n) {
    margin-left: auto;
  }

  
  .overlay1 {
    position: absolute;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0, 0.85);
    transform: scaleX(1);
    transition: all 0.5s ease;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;

  }

  .project:hover .overlay1 {
    transform: scaleX(0);

  }

  .title1,
  .desc1 {
    position: absolute;
  }
  .title1 {
    top: 5px;
    left: 1rem;
    font-size: 2.3rem;
    color: #dd3b4b;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .desc1 {
    top: 20%;
    left: 1rem;
    font-size: 1.4rem;
    justify-content:space-around;
  }
  .ptech{
    color: chocolate;
  }
  .btn1 {
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    bottom: 3rem;
    z-index: 1;
    height: 2.5rem;
    width: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view1{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    z-index: 1;

  }
 
  .view1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #dd3b4b;
    transition: all 0.5s ease;
    transform: scaleX(0);
    transform-origin: left;

  }
  .view1:hover::before{
    transform: scaleX(1);
  }
  
  @media (max-width: 768px) {
    .desc1 {
      top: 40%;
      font-size: 1.5rem;
    }
    .projects .project {
      width: 77vw;
    }
    .projects .project h1{
      display: none;
    }
    .projects{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .project:nth-child(2n) {
      margin-left: 1rem;
    }
    .title1{
      font-size: 2.5rem;
    }
    .desc1{
      font-size: 1rem;
    }
    .category-top input {
      width: 10rem;
    }
    .contact-info {
      flex-direction: column;
      height: auto;
      justify-content: space-between;
    }
    .contact-us {
      height: 100%;
    }
    .form {
      margin-right: 0!important;
    }
    .address {
      width: 100%;
      margin: 1rem;
      height: 100%;
      gap: 2rem;
      padding-left: 10rem;
    }
  }
  
  @media (max-width:480px){
    .projects .project{
      height: 35vh;
    }
    .title1{
      font-size: 25%;
    }
    .desc1 li{
      font-size: 75%;
      margin-top:0%;
    }
    .desc1{
      top: 20%;
    }


  }
@media(max-width:1000px){
  .badgess{

    display: inline-block;
    text-align: center;
  }
}
.contact-us {
  height: auto;
  width: 100vw;
  /* background: url(./pics/bg.jpg) no-repeat; */
  background-color: #adf0d1;
  background-size: cover;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.contact-top h2{
  margin-left: 5rem;
  padding-top: 3rem;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-basis: 50%;
  gap: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  min-height: 70%;
  max-height: 70%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: #fff;
  width: 30rem;
  margin-right: 5rem;
  padding: 5rem;
}
.form form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2.5rem;
  align-items: center;
}
.form form input {
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  width: 20rem;
}
.form form button {
  background-color: white;
  box-shadow: 3px 3px 8px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  z-index: 20;
  overflow: hidden;
}
.form form button::before {
  content: "";
  position: absolute;
  background: rgb(0, 136, 255);
  top: 0;
  left: 0;
  bottom: -5px;
  right: 0;
  transform: scaleX(0);
  transition: all 0.5s ease;
  z-index: -1;
  pointer-events: none;
  transform-origin: left;
  visibility: hidden;
}

.form form button:hover::before {
  transform: scaleX(1);
  visibility: visible;
}
.section {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section .icon i {
  font-size: 1.5rem;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socialmedia{
  display: flex;
  justify-content: left;
  
}
.sm{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  line-height: 55px;
  box-shadow: 1px 4px 2px 2px #8fa37a;

}

.sm i{
  font-size: 25px;
  transition: all 0.25 linear;
  color: black;
}
.sm:hover i{
  transform: scale(1.4);
  color: #fff;
}
.sm:hover{
  background-color: #001f40;
}

/* resume */
.resume_page{
  position: relative; 
  width: 80%;
  height: 100%;
  margin-left: 10%;
  padding-top: 70%;
  box-shadow: 0 2px 8px 0 rgba(223, 69, 84, 10);
  overflow: hidden;
   will-change: transform; 
   text-align: center;
  }
  
  .if{
      position: absolute; 
      width: 62%; 
      height: 100%;
       top: 0; 
       left: 0; 
       border: none;
        padding: 0;
        margin-left: 20%;" 
  }
  .backtomain{
    padding: 1%;
    margin-top: 2%;
    color: black;
    background-color: #dd3b4b;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .backtomain:hover{
    background-color: palegreen;
  }
  .dwnld{
    border:2px solid black;
    text-decoration: none;
    color: #000000;
    background-color: #dd3b4b;
    padding: 14px;
    border-radius: 7px;
    display:flexbox;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 33%;
    
  }
  .dwnld:hover{
    background-color: palegreen;
  }